@import '../../../variables.scss';

.upNext {
  display: flex;
  flex-direction: column;
  padding-top: 100px;

  h2 {
    padding: .5em 1em;
  }

  .daysShows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5em 1em;

    .showDetails {
      margin-top: 1em;
      display: flex;
      height: 100%;
      height: auto;

      .imageWrapper {
        width: 25%;

      .showImage {
        width: 100%;
        aspect-ratio: 2/3;
      }

    }

      .details {
        width: 100%;
        padding: .5em 0 0 .5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        font-family: $lato;

        .nameAndNetwork {
          display: flex;
          justify-content: space-between;

          .network {
            font-size: 1rem;
            color: $lightGreen;
          }
        }

        .episodeNumber {
          margin: 1em 0;
        }
      }

    }

    .noInfo {
      color: white;
      font-family: $lato;
      font-size: 1rem;
      padding: .5em;
    }
  }
}

