@import '../../../variables.scss';

.trending {
  width: 100%;

  h2 {
    color: $orange;
    font-size: 1.2rem;
    font-family: $lato;
    padding: 0 .5em;
  }

  .cardContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .skeleton {
    width: 28%;
    background-color: lighten($black, 2%);
    margin: .5em;
    aspect-ratio: 2/3;
    filter: blur(2px)
  }
}